################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pong_base.zip
/lnk_msp430f5438a.cmd
/.project
/.cproject
/.ccsproject
/targetConfigs/MSP430F5438A.ccxml
/targetConfigs/readme.txt
/.launches/Pong_base.launch
/.launches/lab7b.launch
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.cdt.debug.core.prefs
/.settings/org.eclipse.cdt.codan.core.prefs
/Debug/subdir_vars.mk
/Debug/subdir_rules.mk
/Debug/sources.mk
/Debug/Pong_base_linkInfo.xml
/Debug/Pong_base.out
/Debug/Pong_base.map
/Debug/pong.obj
/Debug/pong.d
/Debug/objects.mk
/Debug/makefile
/Debug/lab7b_linkInfo.xml
/Debug/lab7b.map
/Debug/hal_usb.d
/Debug/ccsObjs.opt
/Debug/ball_movement.obj
/Debug/ball_movement.d
/Debug/hal_libraries/subdir_vars.mk
/Debug/hal_libraries/subdir_rules.mk
/Debug/hal_libraries/hal_UCS.obj
/Debug/hal_libraries/hal_UCS.d
/Debug/hal_libraries/hal_pmm.obj
/Debug/hal_libraries/hal_pmm.d
/Debug/hal_libraries/hal_lcd_fonts.obj
/Debug/hal_libraries/hal_lcd_fonts.d
/Debug/hal_libraries/hal_lcd.obj
/Debug/hal_libraries/hal_lcd.d
/hal_libraries/hal_UCS.h
/hal_libraries/hal_UCS.c
/hal_libraries/hal_pmm.h
/hal_libraries/hal_pmm.c
/hal_libraries/hal_lcd_fonts.h
/hal_libraries/hal_lcd_fonts.c
/hal_libraries/hal_lcd.h
/hal_libraries/hal_lcd.c
